{% extends 'base.html' %}
{% block title %}Редактировать пользователя{% endblock %}
{% block content %}
<div class="container">
    <h1>Редактировать личные данные</h1>
    <form action="{% url 'change' user_obj.pk %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'partial/form.html' with form=form fields_only=True %}
        {% include 'partial/form.html' with form=account_form fields_only=True %}
        <br>
        <input type="submit" value="Редактировать">
    </form>
</div>>
{% endblock %}