<div class="container">
    {% for image in images %}
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="/uploads/{{ image.image }}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ image.user }}</h5>
                    <p class="card-text">{{ image.note }}</p>
                    <p class="card-text"><small class="text-muted">{{ image.updated_at }}</small></p>
                    <p><a href="{% url 'image_view' image.pk %}" class="btn btn-primary">Подробнее</a></p>
                    {% if user.is_authenticated and user == image.user %}
                    <p><a href="{% url 'image_update' image.pk %}" class="btn btn-success">Редактировать</a></p>
                    <p><a href="{% url 'image_delete' image.pk %}" class="btn btn-danger">Удалить</a></p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% empty %}
    <h2 class="text-center">Пусто</h2>
    {% endfor %}


</div>